<!DOCTYPE html>
<html lang="en" style="
    background-image: linear-gradient(#121212, #121212);
    background-attachment: fixed;
  ">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>edit-products</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://www.unpkg.com/bulma@0.9.3/css/bulma.css">
    <style>
      #app h1 {
        color: white;
        text-align: center;
      }
      #app .label {
        color: white;
      }
    </style>
</head>
<body>
    <div id="app" class="container is-max-desktop mt-5">
        <h1 class="title">Rest Api - MVC Edit Suppliers</h1>
        <div class="field">
            <label class="label">Company Name</label>
            <div class="control">
                <input type="text" placeholder="Company Name" class="input" name="company" id="company" value="<%=supplier.company_name %>">
            </div>
        </div>
        <div class="field">
            <label class="label">Contact Name</label>
            <div class="control">
                <input type="text" placeholder="Contact Name" class="input" name="contact" id="contact" value="<%=supplier.contact_name %>" >
            </div>
        </div>
        <div class="field">
            <label class="label">Email</label>
            <div class="control">
                <input type="text" placeholder="Email Address" class="input" name="email" id="email" value="<%=supplier.email %>" >
            </div>
        </div>
        <div class="field">
            <label class="label">Phone Number</label>
            <div class="control">
                <input type="text" placeholder="Phone Number" class="input" name="phone" id="phone" value="<%=supplier.phone %>" >
            </div>
        </div>
        <div class="field">
            <label class="label">Active</label>
            <div class="control">
                <input type="text" placeholder="0 / 1" class="input" name="active" id="active" value=<%=supplier.active %> >
            </div>
        </div>
        <div class="control">
            <a href="/" class="button is-danger" style="margin-right:10px">Cancel</a>
            <button class="button is-warning" id="save" onclick=<%="edit(" +supplier.id+ ")" %> >UPDATE</button>
        </div>
    </div>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        const edit = (id) => {
            axios({
                method: 'put', 
                url: '/api/supplier/' + id, 
                data: {
                    company_name : document.getElementById("company").value.trim(),
                    contact_name : document.getElementById("contact").value.trim(),
                    email        : document.getElementById("email").value.trim(),
                    phone        : document.getElementById("phone").value.trim(),
                    active       : document.getElementById("active").value.trim()
                }
            }).then((result) => {
                if (document.getElementById("company").value.trim() == "" || document.getElementById("contact").value.trim() == "" || document.getElementById("email").value.trim() == "" || document.getElementById("phone").value.trim() == "" || (document.getElementById("active").value != 0 && document.getElementById("active").value != 1) || isNaN(document.getElementById("active").value)) {
                    alert('Info status: Data GAGAL diedit')
                }
                else {
                    alert('Info status: ' + result.status)
                }
                window.location = "/";
            }).catch((err) => {
                alert('error ' + err)
            });
        }
    </script>
</body>
</html>