<!DOCTYPE html>
<html lang="en" style="
    background-image: linear-gradient(#121212, #121212);
    background-attachment: fixed;
  ">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rest Api - MVC List Suppliers</title>
    <link rel="stylesheet" href="https://www.unpkg.com/bulma@0.9.3/css/bulma.css">
    <style>
      #app h1 {
        color: white;
        text-align: center;
      }
      #app .label {
        color: white;
      }
    </style>
</head>
<body>
    <div id="app" class="container is-max-desktop mt-5">
        <h1 class="title">Supplier List</h1>
        <div>
            <a href="/create" class="button is-success">Add New</a>
            <table class="table is-striped is-bordered mt-3 is-fullwidth" style="margin:10px auto;">
                <thead>
                    <tr>
                        <th>Company Name</th>
                        <th>Contact Name</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Active</th>
                        <th class="has-text-centered">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <% suppliers.forEach(el=> { %>
                        <tr>
                            <td><%= el.company_name %></td>
                            <td><%= el.contact_name %></td>
                            <td><%= el.email %></td>
                            <td><%= el.phone %></td>
                            <td><%= el.active %></td>
                            <td class="has-text-centered">
                                <a href="/edit/<%= el.id %>" class="button is-warning is-small">Edit</a>
                                <button onclick=<%='del(' +el.id+ ')' %> class="button is-danger is-small" style="margin-left: 5px;">Delete</a>
                            </td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
    </div>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        let del = (id) => {
            axios.delete('/api/supplier/' + id).then((result) => {
                alert('Info status: ' + result.status)
                location.reload();
            }).catch((err) => {
                alert('error ' + err)
            });
        }
    </script>
</body>
</html>